@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Dropzone Configure */

.dropzone {
  border: 4px dashed rgba(52, 51, 51, 0.3) !important;
  border-radius: 15px !important;
  height: 200px !important;
  width: 55% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 20px !important;
}

/* End of Dropzone Configure */


